# IBM Data Science Professional Certification 
## Course 9: Applied Data Science Capstone
### Peer-graded assignment (Week 3):  Segmenting and Clustering Neighborhoods in Toronto - Part 2

The python program in this notebook adds the columns with latitude and longitude to the data frame built in the part 1 of this assignment. This notebook was produced using the Jupyter Notebook IDE provided by the Anaconda Python distribution.

**Importing the necessary libraries.**

In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis

**Reading the data frame of the Toronto Neighborhoods built in the part 1.**

In [2]:
df_neigh=pd.read_csv("Toronto_neighborhoods.csv")
df_neigh.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

**Reading the coordinates corresponding to the postal codes from the CSV file provided by the course.**

In [3]:
lat_long=pd.read_csv("Geospatial_Coordinates.csv")
lat_long.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

**Merging the data frame with the neighborhoods and the data frame with coordinates.**

In [4]:
lat_long.rename({"Postal Code":"PostalCode"},axis=1,inplace=True)
lat_long
df=pd.merge(df_neigh,lat_long,left_on="PostalCode",right_on="PostalCode")
df_neigh=df.copy()
del df

**Final data frame.**

In [5]:
df_neigh.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [6]:
df_neigh.tail()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, Martin Grove Gardens, Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens, Beaumond Heights, Humbergate, ...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

**Saving the final data frame.**

In [7]:
df_neigh.to_csv("Toronto_neighborhoods_with_lat_long.csv",index=False)